# Identifying Entities in Healthcare Data

##Workspace set up: Import and Install useful packages.

In [1]:
!pip install pycrf
!pip install sklearn-crfsuite

import spacy
import sklearn_crfsuite
from sklearn_crfsuite import metrics

model = spacy.load("en_core_web_sm")

Requirement already satisfied: pycrf in /Users/abhinavjoshi/opt/anaconda3/lib/python3.8/site-packages (0.0.1)
Requirement already satisfied: sklearn-crfsuite in /Users/abhinavjoshi/opt/anaconda3/lib/python3.8/site-packages (0.3.6)
Requirement already satisfied: python-crfsuite>=0.8.3 in /Users/abhinavjoshi/opt/anaconda3/lib/python3.8/site-packages (from sklearn-crfsuite) (0.9.7)
Requirement already satisfied: tqdm>=2.0 in /Users/abhinavjoshi/opt/anaconda3/lib/python3.8/site-packages (from sklearn-crfsuite) (4.50.2)
Requirement already satisfied: tabulate in /Users/abhinavjoshi/opt/anaconda3/lib/python3.8/site-packages (from sklearn-crfsuite) (0.8.9)
Requirement already satisfied: six in /Users/abhinavjoshi/opt/anaconda3/lib/python3.8/site-packages (from sklearn-crfsuite) (1.15.0)

##Data Preprocessing

The dataset provided is in the form of one word per line. Let's understand the format of data below:
- Suppose there are *x* words in a sentence, then there will be *x* continuous lines with one word in each line. 
- Further, the two sentences are separated by empty lines. The labels for the data follow the same format.

**We need to pre-process the data to recover the complete sentences and their labels.**

### Construct the proper sentences from individual words and print the 5 sentences.

![image.png]()

![image.png]()

##  Task 1: Data preprocessing

### Opening Files

In [2]:
## opening files
## train_sentences,train_labels, test_sentences and test_labels are all lists of tokens and corresponding labels
with open('train_sent', 'r') as train_sent_file:
  train_sentences = train_sent_file.readlines()

with open('train_label', 'r') as train_labels_file:
  train_labels = train_labels_file.readlines()

with open('test_sent', 'r') as test_sent_file:
  test_sentences = test_sent_file.readlines()

with open('test_label', 'r') as test_labels_file:
  test_labels = test_labels_file.readlines()

### Constructing proper sentences from individual words

In [3]:
## train_sentences
train_sentences = list(map(lambda x: x.split('\n')[0], train_sentences))
train_sentences = [word for word in train_sentences]
train_sentences = " ".join(train_sentences)
train_sentences = train_sentences.split("  ")
train_sentences[0:5]

['All live births > or = 23 weeks at the University of Vermont in 1995 ( n = 2395 ) were retrospectively analyzed for delivery route , indication for cesarean , gestational age , parity , and practice group ( to reflect risk status )',
 'The total cesarean rate was 14.4 % ( 344 of 2395 ) , and the primary rate was 11.4 % ( 244 of 2144 )',
 'Abnormal presentation was the most common indication ( 25.6 % , 88 of 344 )',
 "The `` corrected '' cesarean rate ( maternal-fetal medicine and transported patients excluded ) was 12.4 % ( 273 of 2194 ) , and the `` corrected '' primary rate was 9.6 % ( 190 of 1975 )",
 "Arrest of dilation was the most common indication in both `` corrected '' subgroups ( 23.4 and 24.6 % , respectively )"]

In [4]:
## test_sentences
test_sentences = list(map(lambda x: x.split('\n')[0], test_sentences))
test_sentences = [word for word in test_sentences]
test_sentences = " ".join(test_sentences)
test_sentences = test_sentences.split("  ")
test_sentences[0:5]

['Furthermore , when all deliveries were analyzed , regardless of risk status but limited to gestational age > or = 36 weeks , the rates did not change ( 12.6 % , 280 of 2214 ; primary 9.2 % , 183 of 1994 )',
 'As the ambient temperature increases , there is an increase in insensible fluid loss and the potential for dehydration',
 'The daily high temperature ranged from 71 to 104 degrees F and AFI values ranged from 1.7 to 24.7 cm during the study period',
 'There was a significant correlation between the 2- , 3- , and 4-day mean temperature and AFI , with the 4-day mean being the most significant ( r = 0.31 , p & # 60 ; 0.001 )',
 'Fluctuations in ambient temperature are inversely correlated to changes in AFI']

In [5]:
## train labels
train_labels = list(map(lambda x: x.split('\n')[0], train_labels))
train_labels = [word for word in train_labels]
train_labels = " ".join(train_labels)
train_labels = train_labels.split("  ")
train_labels[0:5]

['O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O',
 'O O O O O O O O O O O O O O O O O O O O O O O O O',
 'O O O O O O O O O O O O O O O',
 'O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O',
 'O O O O O O O O O O O O O O O O O O O O O O']

In [6]:
## test labels
test_labels = list(map(lambda x: x.split('\n')[0], test_labels))
test_labels = [word for word in test_labels]
test_labels = " ".join(test_labels)
test_labels = test_labels.split("  ")
test_labels[0:5]

['O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O',
 'O O O O O O O O O O O O O O O O O O O',
 'O O O O O O O O O O O O O O O O O O O O O O O O',
 'O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O',
 'O O O O O O O O O O O']

###  Printing five sentences along with their labels.

In [7]:
import pandas as pd

In [8]:
## for training set
pd.set_option("max_colwidth", None)
sent_label_train_df = pd.DataFrame(zip(train_sentences,train_labels),columns=['Sentence','Labels'])
sent_label_train_df.head()

,Sentence,Labels
0,"All live births > or = 23 weeks at the University of Vermont in 1995 ( n = 2395 ) were retrospectively analyzed for delivery route , indication for cesarean , gestational age , parity , and practice group ( to reflect risk status )",O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O
1,"The total cesarean rate was 14.4 % ( 344 of 2395 ) , and the primary rate was 11.4 % ( 244 of 2144 )",O O O O O O O O O O O O O O O O O O O O O O O O O
2,"Abnormal presentation was the most common indication ( 25.6 % , 88 of 344 )",O O O O O O O O O O O O O O O
3,"The `` corrected '' cesarean rate ( maternal-fetal medicine and transported patients excluded ) was 12.4 % ( 273 of 2194 ) , and the `` corrected '' primary rate was 9.6 % ( 190 of 1975 )",O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O
4,"Arrest of dilation was the most common indication in both `` corrected '' subgroups ( 23.4 and 24.6 % , respectively )",O O O O O O O O O O O O O O O O O O O O O O

In [9]:
## for test set
pd.set_option("max_colwidth", None)
sent_label_test_df = pd.DataFrame(zip(test_sentences,test_labels),columns=['Sentence','Labels'])
sent_label_test_df.head()

,Sentence,Labels
0,"Furthermore , when all deliveries were analyzed , regardless of risk status but limited to gestational age > or = 36 weeks , the rates did not change ( 12.6 % , 280 of 2214 ; primary 9.2 % , 183 of 1994 )",O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O
1,"As the ambient temperature increases , there is an increase in insensible fluid loss and the potential for dehydration",O O O O O O O O O O O O O O O O O O O
2,The daily high temperature ranged from 71 to 104 degrees F and AFI values ranged from 1.7 to 24.7 cm during the study period,O O O O O O O O O O O O O O O O O O O O O O O O
3,"There was a significant correlation between the 2- , 3- , and 4-day mean temperature and AFI , with the 4-day mean being the most significant ( r = 0.31 , p & # 60 ; 0.001 )",O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O O
4,Fluctuations in ambient temperature are inversely correlated to changes in AFI,O O O O O O O O O O O

### Counting the number of sentences in the processed train and test dataset

In [10]:
print('Number of sentences in the processsed train dataset:',len(train_sentences))
print('Number of sentences in the processsed train dataset:',len(test_sentences))

Number of sentences in the processsed train dataset: 2599
Number of sentences in the processsed train dataset: 1056

### Counting the number of lines of labels in the processed train and test dataset.

In [11]:
print('Number of lines of labels in the processsed train dataset:',len(train_labels))
print('Number of lines of labels in the processsed train dataset:',len(test_labels))

Number of lines of labels in the processsed train dataset: 2599
Number of lines of labels in the processsed train dataset: 1056

## Concept Identification

We will first explore what are the various concepts present in the dataset. For this, we will use PoS Tagging.

### Extract those tokens which have NOUN or PROPN as their PoS tag and find their frequency

In [12]:
## getting POS tokens for train_sentences
train_text = []
train_pos = []
for i in range(0,2599):
    doc = model(train_sentences[i])
    for tok in doc:
        train_text.append(tok.text)
        train_pos.append(tok.pos_)
i =i+1

In [13]:
len(train_text),len(train_pos)

(48324, 48324)

In [14]:
## dataframe of train_text tokens and pos
pos_data_train = pd.DataFrame(zip(train_text,train_pos),columns=['Text','PoS'])
pos_data_train.head()

     Text    PoS
0     All    DET
1    live    ADJ
2  births   NOUN
3       >      X
4      or  CCONJ

In [15]:
## getting POS tokens for test_sentences
i = 0
test_text = []
test_pos = []
for i in range(0,len(test_sentences)):
    doc = model(test_sentences[i])
    for tok in doc:
        test_text.append(tok.text)
        test_pos.append(tok.pos_)
i =i+1

In [16]:
## dataframe of test_text tokens and pos
pos_data_test = pd.DataFrame(zip(test_text,test_pos),columns=['Text','PoS'])
pos_data_test.head()

          Text    PoS
0  Furthermore    ADV
1            ,  PUNCT
2         when    ADV
3          all    DET
4   deliveries   NOUN

In [17]:
### merging the two datasets
pos_data_merged = pd.concat([pos_data_train,pos_data_test])
pos_data_merged.head()

     Text    PoS
0     All    DET
1    live    ADJ
2  births   NOUN
3       >      X
4      or  CCONJ

### Print the top 25 most common tokens with NOUN or PROPN PoS tags

In [18]:
## selecting only those entries whose PoS is either NOUN or PROPN
df = pd.DataFrame(pos_data_merged[(pos_data_merged['PoS']=="NOUN") | (pos_data_merged['PoS']=="PROPN")].value_counts(),columns=['Count'])
df.head(25)

                    Count
Text         PoS
patients     NOUN     492
treatment    NOUN     281
%            NOUN     246
cancer       NOUN     200
therapy      NOUN     174
study        NOUN     153
disease      NOUN     141
cell         NOUN     140
lung         NOUN     116
group        NOUN      92
gene         NOUN      88
chemotherapy NOUN      88
effects      NOUN      85
results      NOUN      79
women        NOUN      77
TO_SEE       PROPN     75
use          NOUN      74
risk         NOUN      71
cases        NOUN      71
surgery      NOUN      71
analysis     NOUN      70
rate         NOUN      67
survival     NOUN      65
response     NOUN      65
children     NOUN      64

In [83]:
## Converting to dictinary
pos_dict = df['Count'].to_dict()
pos_dict

{('patients', 'NOUN'): 492,
 ('treatment', 'NOUN'): 281,
 ('%', 'NOUN'): 246,
 ('cancer', 'NOUN'): 200,
 ('therapy', 'NOUN'): 174,
 ('study', 'NOUN'): 153,
 ('disease', 'NOUN'): 141,
 ('cell', 'NOUN'): 140,
 ('lung', 'NOUN'): 116,
 ('group', 'NOUN'): 92,
 ('gene', 'NOUN'): 88,
 ('chemotherapy', 'NOUN'): 88,
 ('effects', 'NOUN'): 85,
 ('results', 'NOUN'): 79,
 ('women', 'NOUN'): 77,
 ('TO_SEE', 'PROPN'): 75,
 ('use', 'NOUN'): 74,
 ('risk', 'NOUN'): 71,
 ('cases', 'NOUN'): 71,
 ('surgery', 'NOUN'): 71,
 ('analysis', 'NOUN'): 70,
 ('rate', 'NOUN'): 67,
 ('survival', 'NOUN'): 65,
 ('response', 'NOUN'): 65,
 ('children', 'NOUN'): 64,
 ('effect', 'NOUN'): 63,
 ('cells', 'NOUN'): 61,
 ('patient', 'NOUN'): 60,
 ('dose', 'NOUN'): 59,
 ('protein', 'NOUN'): 59,
 ('years', 'NOUN'): 58,
 ('term', 'NOUN'): 57,
 ('combination', 'NOUN'): 57,
 ('age', 'NOUN'): 56,
 ('care', 'NOUN'): 56,
 ('data', 'NOUN'): 54,
 ('studies', 'NOUN'): 53,
 ('activity', 'NOUN'): 53,
 ('carcinoma', 'NOUN'): 51,
 ('health', 'NOUN'): 51,
 ('case', 'NOUN'): 50,
 ('evidence', 'NOUN'): 49,
 ('syndrome', 'NOUN'): 49,
 ('control', 'NOUN'): 48,
 ('management', 'NOUN'): 48,
 ('diagnosis', 'NOUN'): 48,
 ('trial', 'NOUN'): 48,
 ('P', 'NOUN'): 47,
 ('year', 'NOUN'): 46,
 ('infection', 'NOUN'): 46,
 ('bone', 'NOUN'): 46,
 ('stage', 'NOUN'): 44,
 ('time', 'NOUN'): 42,
 ('heart', 'NOUN'): 41,
 ('role', 'NOUN'): 41,
 ('blood', 'NOUN'): 41,
 ('trials', 'NOUN'): 41,
 ('months', 'NOUN'): 41,
 ('growth', 'NOUN'): 40,
 ('failure', 'NOUN'): 40,
 ('tumor', 'NOUN'): 39,
 ('weeks', 'NOUN'): 37,
 ('CONCLUSIONS', 'NOUN'): 37,
 ('pregnancy', 'NOUN'): 37,
 ('day', 'NOUN'): 36,
 ('medicine', 'NOUN'): 36,
 ('acid', 'NOUN'): 36,
 ('placebo', 'NOUN'): 35,
 ('drug', 'NOUN'): 35,
 ('method', 'NOUN'): 35,
 ('efficacy', 'NOUN'): 34,
 ('methods', 'NOUN'): 34,
 ('rates', 'NOUN'): 34,
 ('groups', 'NOUN'): 34,
 ('infarction', 'NOUN'): 33,
 ('asthma', 'NOUN'): 33,
 ('factors', 'NOUN'): 33,
 ('type', 'NOUN'): 32,
 ('vaccine', 'NOUN'): 32,
 ('mutations', 'NOUN'): 32,
 ('radiotherapy', 'NOUN'): 32,
 ('phase', 'NOUN'): 31,
 ('practice', 'NOUN'): 31,
 ('tumors', 'NOUN'): 31,
 ('alpha', 'NOUN'): 31,
 ('diabetes', 'NOUN'): 31,
 ('RESULTS', 'NOUN'): 31,
 ('population', 'NOUN'): 31,
 ('function', 'NOUN'): 30,
 ('HIV', 'PROPN'): 29,
 ('pain', 'NOUN'): 29,
 ('system', 'NOUN'): 29,
 ('factor', 'NOUN'): 29,
 ('calcium', 'NOUN'): 29,
 ('receptor', 'NOUN'): 29,
 ('breast', 'NOUN'): 28,
 ('brain', 'NOUN'): 28,
 ('resection', 'NOUN'): 28,
 ('research', 'NOUN'): 28,
 ('symptoms', 'NOUN'): 28,
 ('period', 'NOUN'): 28,
 ('incidence', 'NOUN'): 28,
 ('report', 'NOUN'): 27,
 ('levels', 'NOUN'): 27,
 ('days', 'NOUN'): 27,
 ('drugs', 'NOUN'): 27,
 ('tissue', 'NOUN'): 27,
 ('radiation', 'NOUN'): 27,
 ('irradiation', 'NOUN'): 27,
 ('exercise', 'NOUN'): 27,
 ('expression', 'NOUN'): 27,
 ('nsclc', 'PROPN'): 26,
 ('+', 'NOUN'): 26,
 ('effectiveness', 'NOUN'): 26,
 ('outcome', 'NOUN'): 26,
 ('comparison', 'NOUN'): 26,
 ('prostate', 'NOUN'): 26,
 ('OBJECTIVE', 'PROPN'): 26,
 ('hepatitis', 'NOUN'): 25,
 ('region', 'NOUN'): 25,
 ('weight', 'NOUN'): 25,
 ('activation', 'NOUN'): 25,
 ('metastases', 'NOUN'): 25,
 ('hypertension', 'NOUN'): 24,
 ('complications', 'NOUN'): 24,
 ('increase', 'NOUN'): 24,
 ('B', 'NOUN'): 24,
 ('infants', 'NOUN'): 24,
 ('p', 'NOUN'): 24,
 ('site', 'NOUN'): 24,
 ('mice', 'NOUN'): 24,
 ('life', 'NOUN'): 24,
 ('vitamin', 'NOUN'): 24,
 ('administration', 'NOUN'): 23,
 ('plasma', 'NOUN'): 23,
 ('proteins', 'NOUN'): 23,
 ('C', 'NOUN'): 23,
 ('agents', 'NOUN'): 23,
 ('testing', 'NOUN'): 23,
 ('cisplatin', 'NOUN'): 23,
 ('BACKGROUND', 'NOUN'): 23,
 ('evaluation', 'NOUN'): 23,
 ('body', 'NOUN'): 22,
 ('Treatment', 'NOUN'): 22,
 ('B', 'PROPN'): 22,
 ('differences', 'NOUN'): 22,
 ('review', 'NOUN'): 22,
 ('development', 'NOUN'): 22,
 ('families', 'NOUN'): 22,
 ('value', 'NOUN'): 22,
 ('findings', 'NOUN'): 22,
 ('markers', 'NOUN'): 22,
 ('susceptibility', 'NOUN'): 22,
 ('model', 'NOUN'): 22,
 ('adults', 'NOUN'): 22,
 ('mg', 'PROPN'): 22,
 ('changes', 'NOUN'): 22,
 ('virus', 'NOUN'): 22,
 ('grade', 'NOUN'): 21,
 ('C', 'PROPN'): 21,
 ('repair', 'NOUN'): 21,
 ('aspirin', 'NOUN'): 21,
 ('resonance', 'NOUN'): 21,
 ('disorders', 'NOUN'): 21,
 ('pylori', 'NOUN'): 21,
 ('influenza', 'NOUN'): 21,
 ('subjects', 'NOUN'): 21,
 ('family', 'NOUN'): 20,
 ('loss', 'NOUN'): 20,
 ('acids', 'NOUN'): 20,
 ('infections', 'NOUN'): 20,
 ('association', 'NOUN'): 20,
 ('assessment', 'NOUN'): 20,
 ('mortality', 'NOUN'): 20,
 ('pressure', 'NOUN'): 20,
 ('hospital', 'NOUN'): 20,
 ('test', 'NOUN'): 20,
 ('mutation', 'NOUN'): 20,
 ('genes', 'NOUN'): 20,
 ('h', 'NOUN'): 20,
 ('approach', 'NOUN'): 20,
 ('conclusions', 'NOUN'): 20,
 ('antibody', 'NOUN'): 20,
 ('death', 'NOUN'): 20,
 ('delivery', 'NOUN'): 20,
 ('density', 'NOUN'): 19,
 ('nurses', 'NOUN'): 19,
 ('diseases', 'NOUN'): 19,
 ('S', 'PROPN'): 19,
 ('prevention', 'NOUN'): 19,
 ('Mutations', 'NOUN'): 19,
 ('percent', 'NOUN'): 19,
 ('process', 'NOUN'): 19,
 ('preeclampsia', 'NOUN'): 19,
 ('medium', 'NOUN'): 19,
 ('min', 'NOUN'): 19,
 ('interferon', 'PROPN'): 19,
 ('Effect', 'NOUN'): 19,
 ('safety', 'NOUN'): 19,
 ('recovery', 'NOUN'): 19,
 ('hormone', 'NOUN'): 19,
 ('microg', 'NOUN'): 19,
 ('sperm', 'NOUN'): 18,
 ('detection', 'NOUN'): 18,
 ('improvement', 'NOUN'): 18,
 ('artery', 'NOUN'): 18,
 ('serum', 'NOUN'): 18,
 ('mg', 'NOUN'): 18,
 ('surface', 'NOUN'): 18,
 ('men', 'NOUN'): 18,
 ('characteristics', 'NOUN'): 18,
 ('adult', 'NOUN'): 18,
 ('number', 'NOUN'): 18,
 ('chromosome', 'NOUN'): 18,
 ('duration', 'NOUN'): 18,
 ('reaction', 'NOUN'): 18,
 ('G', 'PROPN'): 17,
 ('II', 'PROPN'): 17,
 ('Group', 'PROPN'): 17,
 ('procedures', 'NOUN'): 17,
 ('problems', 'NOUN'): 17,
 ('status', 'NOUN'): 17,
 ('CO2', 'PROPN'): 17,
 ('antibiotics', 'NOUN'): 17,
 ('events', 'NOUN'): 17,
 ('transplantation', 'NOUN'): 17,
 ('METHODS', 'PROPN'): 17,
 ('presence', 'NOUN'): 17,
 ('sequence', 'NOUN'): 17,
 ('brief', 'NOUN'): 17,
 ('kinase', 'NOUN'): 17,
 ('infusion', 'NOUN'): 16,
 ('D', 'NOUN'): 16,
 ('adolescents', 'NOUN'): 16,
 ('.', 'PROPN'): 16,
 ('imaging', 'NOUN'): 16,
 ('level', 'NOUN'): 16,
 ('interval', 'NOUN'): 16,
 ('induction', 'NOUN'): 16,
 ('head', 'NOUN'): 16,
 ('muscle', 'NOUN'): 16,
 ('injury', 'NOUN'): 16,
 ('prevalence', 'NOUN'): 16,
 ('purpose', 'NOUN'): 16,
 ('protease', 'NOUN'): 16,
 ('onset', 'NOUN'): 16,
 ('exposure', 'NOUN'): 16,
 ('correlation', 'NOUN'): 16,
 ('formation', 'NOUN'): 16,
 ('lesions', 'NOUN'): 15,
 ('agent', 'NOUN'): 15,
 ('neck', 'NOUN'): 15,
 ('information', 'NOUN'): 15,
 ('cancers', 'NOUN'): 15,
 ('community', 'NOUN'): 15,
 ('forms', 'NOUN'): 15,
 ('AIDS', 'PROPN'): 15,
 ('cause', 'NOUN'): 15,
 ('DESIGN', 'PROPN'): 15,
 ('models', 'NOUN'): 15,
 ('difference', 'NOUN'): 15,
 ('angioplasty', 'NOUN'): 15,
 ('conclusion', 'NOUN'): 15,
 ('concentration', 'NOUN'): 15,
 ('addition', 'NOUN'): 15,
 ('CONCLUSION', 'NOUN'): 15,
 ('features', 'NOUN'): 14,
 ('experience', 'NOUN'): 14,
 ('lactate', 'NOUN'): 14,
 ('insulin', 'NOUN'): 14,
 ('Effects', 'NOUN'): 14,
 ('investigation', 'NOUN'): 14,
 ('form', 'NOUN'): 14,
 ('origin', 'NOUN'): 14,
 ('beta', 'NOUN'): 14,
 ('thoracic', 'NOUN'): 14,
 ('responses', 'NOUN'): 14,
 ('injection', 'NOUN'): 14,
 ('International', 'PROPN'): 14,
 ('stem', 'NOUN'): 14,
 ('values', 'NOUN'): 14,
 ('training', 'NOUN'): 14,
 ('shock', 'NOUN'): 14,
 ('lymphoma', 'NOUN'): 14,
 ('support', 'NOUN'): 14,
 ('doses', 'NOUN'): 14,
 ('parameters', 'NOUN'): 14,
 ('American', 'PROPN'): 14,
 ('catheter', 'NOUN'): 14,
 ('locus', 'NOUN'): 14,
 ('liver', 'NOUN'): 14,
 ('melanoma', 'NOUN'): 14,
 ('literature', 'NOUN'): 14,
 ('throat', 'NOUN'): 13,
 ('species', 'NOUN'): 13,
 ('line', 'NOUN'): 13,
 ('signal', 'NOUN'): 13,
 ('mass', 'NOUN'): 13,
 ('hearing', 'NOUN'): 13,
 ('frequency', 'NOUN'): 13,
 ('involvement', 'NOUN'): 13,
 ('toxicity', 'NOUN'): 13,
 ('samples', 'NOUN'): 13,
 ('oxygen', 'NOUN'): 13,
 ('structure', 'NOUN'): 13,
 ('paclitaxel', 'PROPN'): 13,
 ('concentrations', 'NOUN'): 13,
 ('quality', 'NOUN'): 13,
 ('survey', 'NOUN'): 13,
 ('conditions', 'NOUN'): 13,
 ('index', 'NOUN'): 13,
 ('month', 'NOUN'): 13,
 ('controls', 'NOUN'): 13,
 ('course', 'NOUN'): 13,
 ('criteria', 'NOUN'): 13,
 ('physician', 'NOUN'): 13,
 ('range', 'NOUN'): 13,
 ('sclc', 'PROPN'): 13,
 ('screening', 'NOUN'): 13,
 ('technique', 'NOUN'): 13,
 ('importance', 'NOUN'): 13,
 ('practices', 'NOUN'): 13,
 ('Hodgkin', 'PROPN'): 13,
 ('L.', 'PROPN'): 13,
 ('Proceedings', 'NOUN'): 13,
 ('Study', 'PROPN'): 13,
 ('urine', 'NOUN'): 13,
 ('Evidence', 'NOUN'): 13,
 ('disorder', 'NOUN'): 12,
 ('emergency', 'NOUN'): 12,
 ('Parkinson', 'PROPN'): 12,
 ('leukemia', 'NOUN'): 12,
 ('relationship', 'NOUN'): 12,
 ('defects', 'NOUN'): 12,
 ('insemination', 'NOUN'): 12,
 ('Helicobacter', 'NOUN'): 12,
 ('change', 'NOUN'): 12,
 ('performance', 'NOUN'): 12,
 ('systems', 'NOUN'): 12,
 ('apoptosis', 'NOUN'): 12,
 ('hepatitis', 'PROPN'): 12,
 ('products', 'NOUN'): 12,
 ('antigen', 'NOUN'): 12,
 ('background', 'NOUN'): 12,
 ('rupture', 'NOUN'): 12,
 ('CSF', 'PROPN'): 12,
 ('part', 'NOUN'): 12,
 ('measurement', 'NOUN'): 12,
 ('stroke', 'NOUN'): 12,
 ('stress', 'NOUN'): 12,
 ('absence', 'NOUN'): 12,
 ('metabolism', 'NOUN'): 12,
 ('strategy', 'NOUN'): 12,
 ('sequences', 'NOUN'): 12,
 ('sensitivity', 'NOUN'): 12,
 ('fluoride', 'NOUN'): 12,
 ('=', 'NOUN'): 12,
 ('resistance', 'NOUN'): 12,
 ('side', 'NOUN'): 12,
 ('cost', 'NOUN'): 12,
 ('treatments', 'NOUN'): 12,
 ('rat', 'NOUN'): 12,
 ('A', 'PROPN'): 12,
 ('retinopathy', 'NOUN'): 11,
 ('authors', 'NOUN'): 11,
 ('regions', 'NOUN'): 11,
 ('design', 'NOUN'): 11,
 ('G', 'NOUN'): 11,
 ('fat', 'NOUN'): 11,
 ('week', 'NOUN'): 11,
 ('damage', 'NOUN'): 11,
 ('benefit', 'NOUN'): 11,
 ('laser', 'NOUN'): 11,
 ('DNA', 'NOUN'): 11,
 ('retinoblastoma', 'NOUN'): 11,
 ('USA', 'PROPN'): 11,
 ('confidentiality', 'NOUN'): 11,
 ('angle', 'NOUN'): 11,
 ('language', 'NOUN'): 11,
 ('resolution', 'NOUN'): 11,
 ('tests', 'NOUN'): 11,
 ('rehabilitation', 'NOUN'): 11,
 ('p53', 'NOUN'): 11,
 ('area', 'NOUN'): 11,
 ('confidence', 'NOUN'): 11,
 ('interest', 'NOUN'): 11,
 ('basis', 'NOUN'): 11,
 ('regimen', 'NOUN'): 11,
 ('SETTING', 'NOUN'): 11,
 ('strategies', 'NOUN'): 11,
 ('peroxynitrite', 'NOUN'): 11,
 ('enzyme', 'NOUN'): 11,
 ('sclerosis', 'NOUN'): 11,
 ('genotype', 'NOUN'): 11,
 ('sarcomas', 'NOUN'): 11,
 ('MS', 'PROPN'): 11,
 ('morbidity', 'NOUN'): 11,
 ('dysfunction', 'NOUN'): 11,
 ('dynamics', 'NOUN'): 11,
 ('follow', 'NOUN'): 11,
 ('up', 'NOUN'): 11,
 ('warfarin', 'NOUN'): 11,
 ('hemorrhage', 'NOUN'): 11,
 ('history', 'NOUN'): 11,
 ('bolus', 'NOUN'): 11,
 ('cleavage', 'NOUN'): 11,
 ('m2', 'PROPN'): 11,
 ('membrane', 'NOUN'): 11,
 ('class', 'NOUN'): 11,
 ('reduction', 'NOUN'): 11,
 ('production', 'NOUN'): 11,
 ('Comparison', 'NOUN'): 10,
 ('chain', 'NOUN'): 10,
 ('Society', 'PROPN'): 10,
 ('wall', 'NOUN'): 10,
 ('mechanisms', 'NOUN'): 10,
 ('carboplatin', 'NOUN'): 10,
 ('nurse', 'NOUN'): 10,
 ('behavior', 'NOUN'): 10,
 ('ratio', 'NOUN'): 10,
 ('volume', 'NOUN'): 10,
 ('suppression', 'NOUN'): 10,
 ('supplementation', 'NOUN'): 10,
 ('nsclc', 'NOUN'): 10,
 ('synthetase', 'NOUN'): 10,
 ('childhood', 'NOUN'): 10,
 ('cDNA', 'NOUN'): 10,
 ('choice', 'NOUN'): 10,
 ('recurrence', 'NOUN'): 10,
 ('DNA', 'PROPN'): 10,
 ('malformations', 'NOUN'): 10,
 ('cocaine', 'NOUN'): 10,
 ('maintenance', 'NOUN'): 10,
 ('tuberculosis', 'NOUN'): 10,
 ('outcomes', 'NOUN'): 10,
 ('temperature', 'NOUN'): 10,
 ('inhibitor', 'NOUN'): 10,
 ('OUTCOME', 'PROPN'): 10,
 ('illness', 'NOUN'): 10,
 ('dioxins', 'NOUN'): 10,
 ('humans', 'NOUN'): 10,
 ('objective', 'NOUN'): 10,
 ('hospitals', 'NOUN'): 10,
 ('analyses', 'NOUN'): 10,
 ('specificity', 'NOUN'): 10,
 ('heparin', 'NOUN'): 10,
 ('donor', 'NOUN'): 10,
 ('alteplase', 'NOUN'): 10,
 ('solution', 'NOUN'): 10,
 ('procedure', 'NOUN'): 10,
 ('problem', 'NOUN'): 10,
 ('AD', 'NOUN'): 10,
 ('sites', 'NOUN'): 10,
 ('vaccines', 'NOUN'): 10,
 ('foot', 'NOUN'): 10,
 ('fluorouracil', 'NOUN'): 10,
 ('MEASURES', 'PROPN'): 10,
 ('potential', 'NOUN'): 10,
 ('ulcer', 'NOUN'): 10,
 ('threshold', 'NOUN'): 10,
 ('antibodies', 'NOUN'): 10,
 ('article', 'NOUN'): 10,
 ('replacement', 'NOUN'): 10,
 ('inhibitors', 'NOUN'): 10,
 ('application', 'NOUN'): 10,
 ('p1', 'PROPN'): 10,
 ('arthritis', 'NOUN'): 10,
 ('intensity', 'NOUN'): 10,
 ('kinetics', 'NOUN'): 10,
 ('order', 'NOUN'): 10,
 ('reactions', 'NOUN'): 10,
 ('mechanism', 'NOUN'): 9,
 ('E', 'NOUN'): 9,
 ('screen', 'NOUN'): 9,
 ('vaccination', 'NOUN'): 9,
 ('METHODS', 'NOUN'): 9,
 ('cure', 'NOUN'): 9,
 ('culture', 'NOUN'): 9,
 ('score', 'NOUN'): 9,
 ('eyes', 'NOUN'): 9,
 ('members', 'NOUN'): 9,
 ('fetuses', 'NOUN'): 9,
 ('serotonin', 'NOUN'): 9,
 ('receptors', 'NOUN'): 9,
 ('state', 'NOUN'): 9,
 ('gemcitabine', 'NOUN'): 9,
 ('National', 'PROPN'): 9,
 ('regression', 'NOUN'): 9,
 ('lymphomas', 'NOUN'): 9,
 ('hypothesis', 'NOUN'): 9,
 ('F', 'PROPN'): 9,
 ('room', 'NOUN'): 9,
 ('composition', 'NOUN'): 9,
 ('man', 'NOUN'): 9,
 ('PCR', 'PROPN'): 9,
 ('D3', 'PROPN'): 9,
 ('intervention', 'NOUN'): 9,
 ('Patients', 'NOUN'): 9,
 ('types', 'NOUN'): 9,
 ('sample', 'NOUN'): 9,
 ('skin', 'NOUN'): 9,
 ('seizures', 'NOUN'): 9,
 ('vivo', 'NOUN'): 9,
 ('fatty', 'NOUN'): 9,
 ('ability', 'NOUN'): 9,
 ('monotherapy', 'NOUN'): 9,
 ('processes', 'NOUN'): 9,
 ('amifostine', 'NOUN'): 9,
 ('times', 'NOUN'): 9,
 ('bypass', 'NOUN'): 9,
 ('Association', 'PROPN'): 9,
 ('AF-4', 'PROPN'): 9,
 ('mineral', 'NOUN'): 9,
 ('aspects', 'NOUN'): 9,
 ('tissues', 'NOUN'): 9,
 ('wave', 'NOUN'): 9,
 ('attention', 'NOUN'): 9,
 ('program', 'NOUN'): 9,
 ('binding', 'NOUN'): 9,
 ('preterm', 'NOUN'): 9,
 ('base', 'NOUN'): 9,
 ('nerve', 'NOUN'): 9,
 ('methylphenidate', 'NOUN'): 9,
 ('-', 'NOUN'): 9,
 ('total', 'NOUN'): 9,
 ('ng', 'PROPN'): 9,
 ('metastasis', 'NOUN'): 9,
 ('influence', 'NOUN'): 8,
 ('return', 'NOUN'): 8,
 ('Disease', 'PROPN'): 8,
 ('animal', 'NOUN'): 8,
 ('iii', 'NOUN'): 8,
 ('ultrasound', 'NOUN'): 8,
 ('angina', 'NOUN'): 8,
 ('properties', 'NOUN'): 8,
 ('psoriasis', 'NOUN'): 8,
 ('deficiency', 'NOUN'): 8,
 ('rep', 'PROPN'): 8,
 ('stimulation', 'NOUN'): 8,
 ('interferon', 'NOUN'): 8,
 ('knowledge', 'NOUN'): 8,
 ('Use', 'PROPN'): 8,
 ('woman', 'NOUN'): 8,
 ('discharge', 'NOUN'): 8,
 ('oil', 'NOUN'): 8,
 ('kidney', 'NOUN'): 8,
 ('PIBF', 'PROPN'): 8,
 ('corticosteroids', 'NOUN'): 8,
 ('United', 'PROPN'): 8,
 ('Hg', 'PROPN'): 8,
 ('Alzheimer', 'PROPN'): 8,
 ('hours', 'NOUN'): 8,
 ('serum', 'PROPN'): 8,
 ('fenfluramines', 'NOUN'): 8,
 ('MAIN', 'PROPN'): 8,
 ('sex', 'NOUN'): 8,
 ('MCV', 'PROPN'): 8,
 ('fluid', 'NOUN'): 8,
 ('example', 'NOUN'): 8,
 ('examination', 'NOUN'): 8,
 ('points', 'NOUN'): 8,
 ('abnormalities', 'NOUN'): 8,
 ('significance', 'NOUN'): 8,
 ('secretion', 'NOUN'): 8,
 ('future', 'NOUN'): 8,
 ('point', 'NOUN'): 8,
 ('energy', 'NOUN'): 8,
 ('pneumonia', 'NOUN'): 8,
 ('scores', 'NOUN'): 8,
 ('plate', 'NOUN'): 8,
 ('aim', 'NOUN'): 8,
 ('embolism', 'NOUN'): 8,
 ('phentermine', 'NOUN'): 8,
 ('AFI', 'PROPN'): 8,
 ('sodium', 'NOUN'): 8,
 ('N', 'NOUN'): 8,
 ('Darier', 'PROPN'): 8,
 ('Health', 'PROPN'): 8,
 ('New', 'PROPN'): 8,
 ('lesion', 'NOUN'): 8,
 ('stages', 'NOUN'): 8,
 ('t', 'NOUN'): 8,
 ('transport', 'NOUN'): 8,
 ('recombinase', 'NOUN'): 8,
 ('Studies', 'NOUN'): 8,
 ('relation', 'NOUN'): 8,
 ('reference', 'NOUN'): 8,
 ('chemical', 'NOUN'): 8,
 ('Case', 'NOUN'): 8,
 ('syndrome', 'PROPN'): 8,
 ('muscles', 'NOUN'): 8,
 ('T', 'PROPN'): 8,
 ('Prevention', 'PROPN'): 8,
 ('chicken', 'NOUN'): 8,
 ('biosensor', 'NOUN'): 8,
 ('biliary', 'NOUN'): 8,
 ('neuroendocrine', 'NOUN'): 8,
 ('mouse', 'NOUN'): 8,
 ('DSB', 'NOUN'): 8,
 ('records', 'NOUN'): 8,
 ('birth', 'NOUN'): 8,
 ('Abstracts', 'NOUN'): 7,
 ('variety', 'NOUN'): 7,
 ('amount', 'NOUN'): 7,
 ('source', 'NOUN'): 7,
 ('persons', 'NOUN'): 7,
 ('dosage', 'NOUN'): 7,
 ('drainage', 'NOUN'): 7,
 ('alternative', 'NOUN'): 7,
 ('product', 'NOUN'): 7,
 ('rabbits', 'NOUN'): 7,
 ('host', 'NOUN'): 7,
 ('distribution', 'NOUN'): 7,
 ('transmission', 'NOUN'): 7,
 ('lymph', 'NOUN'): 7,
 ('identification', 'NOUN'): 7,
 ('block', 'NOUN'): 7,
 ('blockade', 'NOUN'): 7,
 ('partner', 'NOUN'): 7,
 ('motor', 'NOUN'): 7,
 ('hyperplasia', 'NOUN'): 7,
 ('bowel', 'NOUN'): 7,
 ('percentage', 'NOUN'): 7,
 ('analyte', 'NOUN'): 7,
 ('understanding', 'NOUN'): 7,
 ('HMGI', 'PROPN'): 7,
 ('transcription', 'NOUN'): 7,
 ('X', 'NOUN'): 7,
 ('Adolescent', 'PROPN'): 7,
 ('perspective', 'NOUN'): 7,
 ('amyloidosis', 'NOUN'): 7,
 ('manifesto', 'NOUN'): 7,
 ('cholecystectomy', 'NOUN'): 7,
 ('center', 'NOUN'): 7,
 ('presentation', 'NOUN'): 7,
 ('measurements', 'NOUN'): 7,
 ('Chlamydia', 'PROPN'): 7,
 ('adenocarcinoma', 'NOUN'): 7,
 ('tool', 'NOUN'): 7,
 ('Conference', 'PROPN'): 7,
 ('action', 'NOUN'): 7,
 ('scale', 'NOUN'): 7,
 ('September', 'PROPN'): 7,
 ('switch', 'NOUN'): 7,
 ('series', 'NOUN'): 7,
 ('pregnancies', 'NOUN'): 7,
 ('membranes', 'NOUN'): 7,
 ('meningitis', 'NOUN'): 7,
 ('A', 'NOUN'): 7,
 ('event', 'NOUN'): 7,
 ('urinalysis', 'NOUN'): 7,
 ('Cancer', 'PROPN'): 7,
 ('toxin', 'NOUN'): 7,
 ('triplet', 'NOUN'): 7,
 ('Research', 'NOUN'): 7,
 ('gag', 'PROPN'): 7,
 ('enzymes', 'NOUN'): 7,
 ('marrow', 'NOUN'): 7,
 ('platinum', 'NOUN'): 7,
 ('end', 'NOUN'): 7,
 ('child', 'NOUN'): 7,
 ('effusions', 'NOUN'): 7,
 ('generation', 'NOUN'): 7,
 ('germ', 'NOUN'): 7,
 ('glutamine', 'NOUN'): 7,
 ('HIV-1', 'PROPN'): 7,
 ('celiotomy', 'NOUN'): 7,
 ('relief', 'NOUN'): 7,
 ('arthrodesis', 'NOUN'): 7,
 ('Clinical', 'PROPN'): 7,
 ('irinotecan', 'PROPN'): 7,
 ('oxaliplatin', 'NOUN'): 7,
 ('complex', 'NOUN'): 7,
 ('regulation', 'NOUN'): 7,
 ('complication', 'NOUN'): 7,
 ('lavage', 'NOUN'): 7,
 ('Evaluation', 'NOUN'): 7,
 ('cycle', 'NOUN'): 7,
 ('intake', 'NOUN'): 7,
 ('colon', 'NOUN'): 7,
 ('injuries', 'NOUN'): 7,
 ('colony', 'NOUN'): 7,
 ('occlusion', 'NOUN'): 7,
 ('contrast', 'NOUN'): 7,
 ('lifestyle', 'NOUN'): 7,
 ('occurrence', 'NOUN'): 7,
 ('labor', 'NOUN'): 7,
 ('reports', 'NOUN'): 7,
 ('cord', 'NOUN'): 7,
 ('correction', 'NOUN'): 7,
 ('task', 'NOUN'): 7,
 ('stenosis', 'NOUN'): 7,
 ('p7', 'PROPN'): 7,
 ('propionate', 'NOUN'): 7,
 ('departments', 'NOUN'): 7,
 ('TSS', 'PROPN'): 7,
 ('BRCA1', 'PROPN'): 7,
 ('removal', 'NOUN'): 7,
 ('implantation', 'NOUN'): 7,
 ('incontinence', 'NOUN'): 7,
 ('PURPOSE', 'NOUN'): 7,
 ('increases', 'NOUN'): 7,
 ('issues', 'NOUN'): 7,
 ('length', 'NOUN'): 7,
 ('strength', 'NOUN'): 7,
 ('promoter', 'NOUN'): 7,
 ('BCR', 'PROPN'): 7,
 ('resections', 'NOUN'): 7,
 ('nursing', 'NOUN'): 7,
 ('bladder', 'NOUN'): 7,
 ('availability', 'NOUN'): 7,
 ('wounds', 'NOUN'): 7,
 ('cyclophosphamide', 'NOUN'): 7,
 ('relapse', 'NOUN'): 6,
 ('selection', 'NOUN'): 6,
 ('search', 'NOUN'): 6,
 ('DPL', 'PROPN'): 6,
 ('Control', 'PROPN'): 6,
 ('fusion', 'NOUN'): 6,
 ('valve', 'NOUN'): 6,
 ('odds', 'NOUN'): 6,
 ('immunoassay', 'NOUN'): 6,
 ('laparoscopic', 'NOUN'): 6,
 ('food', 'NOUN'): 6,
 ('pollution', 'NOUN'): 6,
 ('lines', 'NOUN'): 6,
 ('prescription', 'NOUN'): 6,
 ('medication', 'NOUN'): 6,
 ('polymorphism', 'NOUN'): 6,
 ('fish', 'NOUN'): 6,
 ('Italy', 'PROPN'): 6,
 ('populations', 'NOUN'): 6,
 ('field', 'NOUN'): 6,
 ('fibrillation', 'NOUN'): 6,
 ('position', 'NOUN'): 6,
 ('rats', 'NOUN'): 6,
 ('fenfluramine', 'NOUN'): 6,
 ('Interferon', 'PROPN'): 6,
 ('protocol', 'NOUN'): 6,
 ('recommendations', 'NOUN'): 6,
 ('GHb', 'PROPN'): 6,
 ('hematoma', 'NOUN'): 6,
 ('Arabidopsis', 'PROPN'): 6,
 ('reflux', 'NOUN'): 6,
 ('monitoring', 'NOUN'): 6,
 ('mL', 'NOUN'): 6,
 ('penicillin', 'NOUN'): 6,
 ('palliation', 'NOUN'): 6,
 ('vitrectomy', 'NOUN'): 6,
 ('panel', 'NOUN'): 6,
 ('neurotoxicity', 'NOUN'): 6,
 ('insertion', 'NOUN'): 6,
 ('infant', 'NOUN'): 6,
 ('Analysis', 'NOUN'): 6,
 ('hypospadias', 'NOUN'): 6,
 ('rheumatoid', 'NOUN'): 6,
 ('ventilation', 'NOUN'): 6,
 ('i.e', 'PROPN'): 6,
 ('vein', 'NOUN'): 6,
 ('ifosfamide', 'NOUN'): 6,
 ('impact', 'NOUN'): 6,
 ('prosthesis', 'NOUN'): 6,
 ('Hospital', 'PROPN'): 6,
 ('oocyte', 'NOUN'): 6,
 ('BAEP', 'NOUN'): 6,
 ('oocytes', 'NOUN'): 6,
 ('needle', 'NOUN'): 6,
 ('isolation', 'NOUN'): 6,
 ('gastrectomy', 'NOUN'): 6,
 ('Crohn', 'PROPN'): 6,

In [89]:
## printing top25
top_25 = list(pos_dict.items())[:25]
print(top_25)

[(('patients', 'NOUN'), 492), (('treatment', 'NOUN'), 281), (('%', 'NOUN'), 246), (('cancer', 'NOUN'), 200), (('therapy', 'NOUN'), 174), (('study', 'NOUN'), 153), (('disease', 'NOUN'), 141), (('cell', 'NOUN'), 140), (('lung', 'NOUN'), 116), (('group', 'NOUN'), 92), (('gene', 'NOUN'), 88), (('chemotherapy', 'NOUN'), 88), (('effects', 'NOUN'), 85), (('results', 'NOUN'), 79), (('women', 'NOUN'), 77), (('TO_SEE', 'PROPN'), 75), (('use', 'NOUN'), 74), (('risk', 'NOUN'), 71), (('cases', 'NOUN'), 71), (('surgery', 'NOUN'), 71), (('analysis', 'NOUN'), 70), (('rate', 'NOUN'), 67), (('survival', 'NOUN'), 65), (('response', 'NOUN'), 65), (('children', 'NOUN'), 64)]

## Defining features for CRF

In [19]:
# Let's # Let's define the features to get the feature value for one word.
## pos : postion of a word
def getFeaturesForOneWord(sentence, pos):
  word = sentence[pos]
  doc = model(word)
  doc_prev = model(sentence[pos-1])
  features = [
    'word.PoS=' + [tok.pos_ for tok in doc][0],# POS tag of the token
    'word.lower=' + word.lower(), # serves as word id
    'word[-3:]=' + word[-3:],     # last three characters
    'word[-2:]=' + word[-2:],     # last two characters
    'word.isupper=%s' % word.isupper(),  # is the word in all uppercase
    'word.isdigit=%s' % word.isdigit(),  # is the word a number
    'words.startsWithCapital=%s' % word[0].isupper() # is the word starting with a capital letter
  ]

  if(pos > 0):
    prev_word = sentence[pos-1]
    features.extend([
    'prev_word.PoS=' + [tok.pos_ for tok in doc_prev][0],
    'prev_word.lower=' + prev_word.lower(),
    'prev_word.isupper=%s' % prev_word.isupper(),
    'prev_word.isdigit=%s' % prev_word.isdigit(),
    'prev_words.startsWithCapital=%s' % prev_word[0].isupper()
  ])
  else:
    features.append('BEG') # feature to track begin of sentence 

  if(pos == len(sentence)-1):
    features.append('END') # feature to track end of sentence

  return features

## Getting the features

### Write a code/function to get the features for a sentence

In [20]:
# Write a code to get the labels for a sentence.
# Define a function to get features for a sentence 
# using the 'getFeaturesForOneWord' function.
def getFeaturesForOneSentence(sentence):
  sentence_list = sentence.split()
  return [getFeaturesForOneWord(sentence_list, pos) for pos in range(len(sentence_list))]

### Write a code/function to get the labels of a sentence

In [21]:
# Write a code to get the labels for a sentence.
## to ensure one-to-one correspomdence between the words and the labels
def getLabelsInListForOneSentence(labels):
  return labels.split()

In [22]:
# Apply function 'getFeaturesForOneSentence' to get features on a single sentence which is at index value 20 in train_sentences
example_sentence = train_sentences[20]
print(example_sentence)
example_label = train_labels[20]
print(example_label)
## lets see how the values for word 21 are
features = getFeaturesForOneSentence(example_sentence)
features[20]

Down syndrome ( 12 cases ) and Edward syndrome ( 11 cases ) were the most common trisomies , while 4 cases of Patau syndrome were also diagnosed
D D O O O O O D D O O O O O O O O D O O O O O D D O O O

['word.PoS=NUM',
 'word.lower=4',
 'word[-3:]=4',
 'word[-2:]=4',
 'word.isupper=False',
 'word.isdigit=True',
 'words.startsWithCapital=False',
 'prev_word.PoS=SCONJ',
 'prev_word.lower=while',
 'prev_word.isupper=False',
 'prev_word.isdigit=False',
 'prev_words.startsWithCapital=False']

## Define input and target variables

Correctly computing X and Y sequence matrices for training and test data.
Check that both sentences and labels are processed

### Define the features' values for each sentence as input variable  for CRF model in test and the train dataset

In [23]:
X_train = [getFeaturesForOneSentence(sentence) for sentence in train_sentences]
X_test = [getFeaturesForOneSentence(sentence) for sentence in test_sentences]

### Define the labels as the target variable for test and the train dataset

In [24]:
Y_train = [getLabelsInListForOneSentence(labels) for labels in train_labels]
Y_test = [getLabelsInListForOneSentence(labels) for labels in test_labels]

## Build the CRF Model

In [25]:
# Build the CRF model
## building model with 200 iterations
crf = sklearn_crfsuite.CRF(max_iterations=200)
crf.fit(X_train, Y_train)

/Users/abhinavjoshi/opt/anaconda3/lib/python3.8/site-packages/sklearn/base.py:209: FutureWarning: From version 0.24, get_params will raise an AttributeError if a parameter cannot be retrieved as an instance attribute. Previously it would return None.
  warnings.warn('From version 0.24, get_params will raise an '

CRF(keep_tempfiles=None, max_iterations=200)

## Evaluation

### Predict the labels of each of the tokens in each sentence of the test dataset that has been pre processed earlier.

In [26]:
## predictig the labels
Y_pred = crf.predict(X_test)

### Calculate the f1 score using the actual labels and the predicted labels of the test dataset.

In [91]:
# getting the f1 score
f1_score = metrics.flat_f1_score(Y_test, Y_pred, average='weighted')
print('The f1 score is :',f1_score)

The f1 score is : 0.9101741968005522

- This score is pretty impressive!

## Identifying Diseases and Treatments using Custom NER

- We now use the CRF model's prediction to prepare a record of diseases identified in the corpus and treatments used for the diseases.

### Create the logic to get all the predicted treatments (T) labels corresponding to each disease (D) label in the test dataset.

![image.png]()

- The exploration of the dataset showed that there are many labels in the test_label list that have only 'O' or only 'O' and 'D' or only 'O' and 'T'.
- Since we are interested in mapping diseases and their corresponding treatments, we will consider only the sentenes which have the correspoding presence of both the labels 'T' and 'D' in their corresponding labels list.

### So the logic that we will take is as follows:
- First, from the Y_pred list that we get from the CRF model for test dataset, we will identify all those labels list which contain both the labels 'T' and 'D'.
- We will make the list of such labels as the new_label_list.
- This new_label_list will have the lenght equal to the lenght of the test_labels list, the only differnece would be that the values for such lists that do not fulfill the above criteria will be null.
- Then we will zip the test_sentence list and the new_label_list to form a dataframe.
- We will drop all the rows which have null value in the labels column. This will leave us with only those sentences and labels which have both treatments and diseases.
- Then we will extract all the disease names using tht tokens list in the dataframe.
- Finally we will remove all the duplicate disease names and get the corresponding treatments for each disease

In [28]:
## creating sentences  list 
sent_list = []
for i in range(0,len(test_sentences)):
    sent_list.append(test_sentences[i].split())
i = i+1
sent_list[0:2]

[['Furthermore',
  ',',
  'when',
  'all',
  'deliveries',
  'were',
  'analyzed',
  ',',
  'regardless',
  'of',
  'risk',
  'status',
  'but',
  'limited',
  'to',
  'gestational',
  'age',
  '>',
  'or',
  '=',
  '36',
  'weeks',
  ',',
  'the',
  'rates',
  'did',
  'not',
  'change',
  '(',
  '12.6',
  '%',
  ',',
  '280',
  'of',
  '2214',
  ';',
  'primary',
  '9.2',
  '%',
  ',',
  '183',
  'of',
  '1994',
  ')'],
 ['As',
  'the',
  'ambient',
  'temperature',
  'increases',
  ',',
  'there',
  'is',
  'an',
  'increase',
  'in',
  'insensible',
  'fluid',
  'loss',
  'and',
  'the',
  'potential',
  'for',
  'dehydration']]

In [29]:
## creating label list
## here the label list will be the lables predicted by the crf model
label_list = crf.predict(X_test)
label_list[0:2]

[['O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O'],
 ['O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O',
  'O']]

In [30]:
## creating a function to fiter out only those entries in the test_label list that have both 'T' and 'D'
def filter_list(mylist):
    if mylist.count('D')!=0 and mylist.count('T')!=0:
        return mylist
    else:
        pass

In [31]:
# filtering the test_labels list
new_label_list = [filter_list(label) for label in label_list]
len(new_label_list)

1056

In [32]:
## creating dataframe
import pandas as pd
my_df = pd.DataFrame(zip(sent_list,new_label_list),columns=['sentence','labels'])
my_df.head()

,sentence,labels
0,"[Furthermore, ,, when, all, deliveries, were, analyzed, ,, regardless, of, risk, status, but, limited, to, gestational, age, >, or, =, 36, weeks, ,, the, rates, did, not, change, (, 12.6, %, ,, 280, of, 2214, ;, primary, 9.2, %, ,, 183, of, 1994, )]",None
1,"[As, the, ambient, temperature, increases, ,, there, is, an, increase, in, insensible, fluid, loss, and, the, potential, for, dehydration]",None
2,"[The, daily, high, temperature, ranged, from, 71, to, 104, degrees, F, and, AFI, values, ranged, from, 1.7, to, 24.7, cm, during, the, study, period]",None
3,"[There, was, a, significant, correlation, between, the, 2-, ,, 3-, ,, and, 4-day, mean, temperature, and, AFI, ,, with, the, 4-day, mean, being, the, most, significant, (, r, =, 0.31, ,, p, &, #, 60, ;, 0.001, )]",None
4,"[Fluctuations, in, ambient, temperature, are, inversely, correlated, to, changes, in, AFI]",None

In [33]:
my_df.shape

(1056, 2)

In [34]:
## dropping null values
pd.set_option('max_colwidth',None)
my_df= my_df.dropna()
my_df.head()

,sentence,labels
46,"[<, TO_SEE, >, CONTEXT, :, There, is, a, substantial, risk, of, a, second, cancer, for, persons, with, hereditary, retinoblastoma, ,, which, is, enhanced, by, radiotherapy]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, D, D, O, O, O, O, O, T]"
61,"[CONCLUSION, :, Methylphenidate, is, effective, in, treating, children, with, epilepsy, and, ADHD, and, safe, in, children, who, are, seizure, free]","[O, O, T, O, O, O, O, O, O, D, O, O, O, O, O, O, O, O, O, O]"
71,"[METHODS, :, The, effect, of, roxithromycin, was, assessed, in, a, double-blind, ,, randomised, ,, prospective, ,, multicentre, ,, parallel-group, ,, placebo-controlled, pilot, study, of, 202, patients, with, unstable, angina, or, non-Q-wave, myocardial, infarction]","[O, O, O, O, O, T, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, D, D, D, D, D, D]"
73,"[INTERPRETATION, :, Antichlamydial, antibiotics, may, be, useful, in, therapeutic, intervention, in, addition, to, standard, medication, in, patients, with, coronary-artery, disease]","[O, O, T, T, O, O, O, O, O, O, O, O, O, O, O, O, O, O, D, D]"
115,"[Our, purpose, was, to, systematically, review, data, on, brain, serotonin, neurotoxicity, in, animals, treated, with, fenfluramines, and, the, evidence, linking, fenfluramines, to, primary, pulmonary, hypertension, (, PPH, )]","[O, O, O, O, O, O, O, O, O, O, O, O, O, O, O, T, O, O, O, O, O, O, D, D, D, D, D, D]"

In [35]:
## resetting index
my_df = my_df.reset_index()

In [36]:
## checking shape
my_df.shape

(120, 3)

####  Extracting sentence list and labels list from the dataframe

In [37]:
## list of sentences
new_sent_list = my_df['sentence'].tolist()
len(new_sent_list)

120

In [38]:
## list of labels
new_label_list = my_df['labels'].tolist()
len(new_label_list)

120

In [39]:
## extracting strings containing all the disease names and the treatments
i = 0
j = 0
treatments = ''
diseases = ''
for i in range (0,len(new_sent_list)):
    for j in range(0,len(new_sent_list[i])):
    
        if new_label_list[i][j]=="D":
            diseases = diseases +' '+ new_sent_list[i][j]
        elif new_label_list[i][j]=="T":
            treatments = treatments +' '+ new_sent_list[i][j]
    
        else:
            pass
    j = j+1       
    diseases = diseases + 'XXX'
    treatments = treatments + 'XXX'    
i = i+1

In [40]:
treatments

' radiotherapyXXX MethylphenidateXXX roxithromycinXXX Antichlamydial antibioticsXXX fenfluraminesXXX moxonidineXXX G-CSF therapy intravenous antibiotic treatmentXXX G-CSF treatmentXXX double-bolus alteplaseXXX Ropinirole monotherapyXXX AntibioticsXXX steroidsXXX surgical treatmentXXX intrauterine insemination with donor sperm versus intrauterine inseminationXXX organ transplantation and chemotherapyXXX Thrombolytic treatment right-side hemodynamicsXXX thoracotomy , radiotherapy , and chemotherapyXXX chemotherapyXXX testicular fine needle aspiration ( TEFNA ) open biopsy and testicular sperm extraction ( TESE )XXX Elective surgeryXXX Elective surgeryXXX Microelectrode-guided posteroventral pallidotomyXXX RadiotherapyXXX laparoscopic cholecystectomyXXX adjuvant chemoradiotherapy with CDDPXXX Hormone replacement therapyXXX TrisomyXXX chemotherapyXXX adenovirus-mediated interleukin 12 ( il-12 ) gene therapyXXX surgeryXXX combination with leucovorin or cisplatinXXX topical corticosteroidsXXX got surgical treatment chemo- and radiotherapyXXX platinum-based chemotherapyXXX chemotherapy and radiotherapy )XXX heparin and enoxaparinXXX vip combination chemotherapyXXX systemic chemotherapyXXX chemotherapyXXX chemoradiotherapyXXX cisplatin and radiotherapyXXX videothoracoscopic lobectomy or partial resection open thoracotomyXXX curative therapyXXX surgical resectionXXX therapeutic vats metastasectomyXXX assessing combination chemotherapy of cisplatin , ifosfamide and irinotecan with rhg-csf supportXXX intravenous oxaliplatinXXX oxaliplatinXXX oxaliplatinXXX oxaliplatinXXX combination with paclitaxel and carboplatinXXX resectionXXX chemotherapy surgery or definitive irradiationXXX prophylactic cranial irradiation prolongsXXX combination chemotherapyXXX adjuvant radiation therapyXXX paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )XXX platinum dose ( cisplatin plus carboplatin ) in combination chemotherapy combination therapy with carboplatinXXX irradiation therapy intravenous amifostineXXX topical application of active vitamin D3 analogue , 1 alphaXXX leukocyte A recombinant interferon ( rIFN-alphaXXX a combination chemotherapy program consisting of bleomycin and methotrexate weekly , doxorubicinXXX Guiding surgical therapyXXX Inchinko-to ( TJ-135 )XXX TJ-135XXX Surgical managementXXX antibiotics and surgeryXXX CholecystectomyXXX pseudoephedrine plus acetaminophenXXX antibiotic treatmentXXX Macrolide antibioticsXXX clarithromycinXXX a combination of omeprazole , amoxicillin , and clarithromycinXXX Contemporary asthma management guidelines list inhaled corticosteroidsXXX Fluticasone propionateXXX Combination therapy with interferon-alpha ( IFN alpha ) plus RibavirinXXX combination therapyXXX glucocorticoid pulse therapyXXX oral budesonideXXX Thrombolytic therapyXXX undergone subcutaneous mastectomyXXX ImmunotherapyXXX Subcutaneous injection of irradiated LLC-IL2XXX thrombolytic therapyXXX conservative pharmacological treatmentXXX High-dose intravenous immunoglobulin ( hdIVIg )XXX oral drugs chemotherapyXXX interferon alfa-2aXXX various interferon alpha preparations interferon alfa-N1 , interferon alfa-2aXXX interferon alphaXXX lamotrigine ( LTG )XXX docosahexanoic acid ( DHA ) -concentrated fish oilXXX botulinum toxin injection , pneumatic dilation , and laparoscopic myotomyXXX Chinese herbal medicineXXX Tubularized incised plate hypospadiasXXX radical prostatectomy and iodine 125 interstitial radiotherapyXXX ImmunotherapyXXX photodynamic therapy in combination with mitomycin CXXX adenosine triphosphate and treatment with buthionine sulfoximineXXX transpupillary thermotherapyXXX Nerve-sparing surgeryXXX Current surgical therapyXXX Thoracoscopic surgeryXXX Antiplatelet therapyXXX Interferon treatmentXXX lamotrigine monotherapyXXX Gene therapyXXX heparinXXX surgical resectionXXX Interferon beta treatmentXXX Intravenous immunoglobulin treatmentXXX Stereotactic radiosurgeryXXX Hyperbaric oxygen therapyXXX Peripheral retinal cryotherapyXXX Matrix metalloproteinase inhibitorsXXX vaccineXXX Surgical managementXXX Hepatic arterial infusion of chemotherapyXXX EpoetinXXX High-dose chemotherapyXXX'

In [41]:
## list of disease names
a = diseases.split('XXX')
disease_list = []
for i in range(0,len(a)):
    if a[i]=='':
        pass
    else:
        disease_list.append(a[i].lower())

In [42]:
disease_list[0:5]

[' hereditary retinoblastoma',
 ' epilepsy',
 ' unstable angina or non-q-wave myocardial infarction',
 ' coronary-artery disease',
 ' primary pulmonary hypertension ( pph )']

In [43]:
len(disease_list)

120

In [44]:
## treatments list
b = treatments.split('XXX')
treatments_list = []
for i in range(0,len(b)):
    if b[i]=='':
        pass
    else:
        treatments_list.append(b[i].lower())

In [45]:
## list of treatment names
treatments_list[0:5]

[' radiotherapy',
 ' methylphenidate',
 ' roxithromycin',
 ' antichlamydial antibiotics',
 ' fenfluramines']

In [46]:
len(treatments_list)

120

In [47]:
## creating final dataframe
final_df = pd.DataFrame(zip(disease_list,treatments_list),columns=['disease','treatment'])
final_df.head()

,disease,treatment
0,hereditary retinoblastoma,radiotherapy
1,epilepsy,methylphenidate
2,unstable angina or non-q-wave myocardial infarction,roxithromycin
3,coronary-artery disease,antichlamydial antibiotics
4,primary pulmonary hypertension ( pph ),fenfluramines

### Extracting unique disease names and corresponding treatments

In [48]:
## checking unique values
final_df['disease'].value_counts()

 cancer                                         3
 small-cell lung cancer                         3
 colorectal cancer                              2
 breast cancer                                  2
 partial seizures                               2
                                               ..
 limited stage small cell lung cancer           1
 hepatic metastases from colorectal cancer      1
 metastatic colorectal cancer                   1
 primary sclerosing cholangitis ( psc )         1
 melanoma ovarian carcinoma brain metastasis    1
Name: disease, Length: 111, dtype: int64

In [49]:
## identifying rows with disease as cancer
final_df[final_df['disease']==' cancer']

     disease                             treatment
81    cancer                         immunotherapy
86    cancer               oral drugs chemotherapy
114   cancer   matrix metalloproteinase inhibitors

In [50]:
## dropping those rows
final_df = final_df.drop(index=[81,86,114])
## creating dictionary of disease with all treatments
cancer_df = {'disease':' cancer',
             'treatment':[' immunotherapy',' oral drugs chemotherapy',' matrix metalloproteinase inhibitors']}
## adding dict to dataframe
final_df = final_df.append(cancer_df,ignore_index=True)
final_df.tail()

,disease,treatment
113,severe secondary peritonitis,surgical management
114,hepatic metastases from colorectal cancer,hepatic arterial infusion of chemotherapy
115,chronic renal failure,epoetin
116,epithelial ovarian cancer,high-dose chemotherapy
117,cancer,"[ immunotherapy, oral drugs chemotherapy, matrix metalloproteinase inhibitors]"

In [51]:
## checking value counts
final_df['disease'].value_counts()

 small-cell lung cancer                         3
 multiple sclerosis                             2
 breast cancer                                  2
 bronchiectasis                                 2
 colorectal cancer                              2
                                               ..
 limited stage small cell lung cancer           1
 hepatic metastases from colorectal cancer      1
 metastatic colorectal cancer                   1
 primary sclerosing cholangitis ( psc )         1
 melanoma ovarian carcinoma brain metastasis    1
Name: disease, Length: 111, dtype: int64

In [52]:
## identifying rows with small-cell lung cancer
final_df[final_df['disease']==' small-cell lung cancer']

,disease,treatment
38,small-cell lung cancer,chemotherapy
54,small-cell lung cancer,combination chemotherapy
56,small-cell lung cancer,paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )

In [53]:
## removing multiple entries for small-cell lung cancer
final_df = final_df.drop(index=[38,54,56])
small_cell_lung_cancer_df = {'disease':' small-cell lung cancer',
                             'treatment':[' chemotherapy',' combination chemotherapy',' paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )']}
final_df = final_df.append(small_cell_lung_cancer_df,ignore_index=True)
final_df.tail()

,disease,treatment
111,hepatic metastases from colorectal cancer,hepatic arterial infusion of chemotherapy
112,chronic renal failure,epoetin
113,epithelial ovarian cancer,high-dose chemotherapy
114,cancer,"[ immunotherapy, oral drugs chemotherapy, matrix metalloproteinase inhibitors]"
115,small-cell lung cancer,"[ chemotherapy, combination chemotherapy, paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )]"

In [54]:
## checking value counts
final_df['disease'].value_counts()

 multiple sclerosis                             2
 colorectal cancer                              2
 bronchiectasis                                 2
 partial seizures                               2
 breast cancer                                  2
                                               ..
 limited stage small cell lung cancer           1
 hepatic metastases from colorectal cancer      1
 metastatic colorectal cancer                   1
 primary sclerosing cholangitis ( psc )         1
 melanoma ovarian carcinoma brain metastasis    1
Name: disease, Length: 111, dtype: int64

In [55]:
## identifying rows with  multiple sclerosis
final_df[final_df['disease']==' multiple sclerosis']

                 disease                              treatment
104   multiple sclerosis              interferon beta treatment
105   multiple sclerosis   intravenous immunoglobulin treatment

In [56]:
# removing mutiple entries for multiple sclerosis
final_df = final_df.drop(index=[104,105])

In [57]:
multiple_sclerosis_df = {'disease':' multiple sclerosis',
             'treatment':[' interferon beta treatment',' intravenous immunoglobulin treatment']}
final_df = final_df.append(multiple_sclerosis_df,ignore_index=True)
final_df.tail()

,disease,treatment
110,chronic renal failure,epoetin
111,epithelial ovarian cancer,high-dose chemotherapy
112,cancer,"[ immunotherapy, oral drugs chemotherapy, matrix metalloproteinase inhibitors]"
113,small-cell lung cancer,"[ chemotherapy, combination chemotherapy, paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )]"
114,multiple sclerosis,"[ interferon beta treatment, intravenous immunoglobulin treatment]"

In [58]:
## checking value counts
final_df['disease'].value_counts()

 colorectal cancer                              2
 partial seizures                               2
 bronchiectasis                                 2
 breast cancer                                  2
 nsclc                                          1
                                               ..
 limited stage small cell lung cancer           1
 hepatic metastases from colorectal cancer      1
 metastatic colorectal cancer                   1
 primary sclerosing cholangitis ( psc )         1
 melanoma ovarian carcinoma brain metastasis    1
Name: disease, Length: 111, dtype: int64

In [59]:
## identifying rows with bronchiectasis
final_df[final_df['disease']==' bronchiectasis']

            disease                  treatment
63   bronchiectasis    antibiotics and surgery
96   bronchiectasis   current surgical therapy

In [60]:
# removing mutiple entries for bronchiectasis
final_df = final_df.drop(index=[63,96])
bronchiectasis_df = {'disease':' bronchiectasis',
                     'treatment':[' antibiotics and surgery',' current surgical therapy']}
final_df = final_df.append(bronchiectasis_df,ignore_index=True)
final_df.tail()

,disease,treatment
109,epithelial ovarian cancer,high-dose chemotherapy
110,cancer,"[ immunotherapy, oral drugs chemotherapy, matrix metalloproteinase inhibitors]"
111,small-cell lung cancer,"[ chemotherapy, combination chemotherapy, paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )]"
112,multiple sclerosis,"[ interferon beta treatment, intravenous immunoglobulin treatment]"
113,bronchiectasis,"[ antibiotics and surgery, current surgical therapy]"

In [61]:
## checking value counts
final_df['disease'].value_counts()

 colorectal cancer                                   2
 partial seizures                                    2
 breast cancer                                       2
 nsclc                                               1
 cellulitis                                          1
                                                    ..
 advanced stage ( tnm iib-ivb ) mycosis fungoides    1
 limited stage small cell lung cancer                1
 metastatic colorectal cancer                        1
 primary sclerosing cholangitis ( psc )              1
 melanoma ovarian carcinoma brain metastasis         1
Name: disease, Length: 111, dtype: int64

In [62]:
## identifying rows with breast cancer
final_df[final_df['disease']==' breast cancer']

           disease                           treatment
25   breast cancer         hormone replacement therapy
76   breast cancer   undergone subcutaneous mastectomy

In [63]:
## removing multiple entries for breast cancer
final_df = final_df.drop(index=[25,76])
breast_cancer_df = {'disease':' breast cancer',
                         'treatment':[' hormone replacement therapy',' undergone subcutaneous mastectomy']}
final_df = final_df.append(breast_cancer_df,ignore_index=True)
final_df.tail()

,disease,treatment
108,cancer,"[ immunotherapy, oral drugs chemotherapy, matrix metalloproteinase inhibitors]"
109,small-cell lung cancer,"[ chemotherapy, combination chemotherapy, paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )]"
110,multiple sclerosis,"[ interferon beta treatment, intravenous immunoglobulin treatment]"
111,bronchiectasis,"[ antibiotics and surgery, current surgical therapy]"
112,breast cancer,"[ hormone replacement therapy, undergone subcutaneous mastectomy]"

In [64]:
## checking value counts
final_df['disease'].value_counts()

 colorectal cancer                                   2
 partial seizures                                    2
 nsclc                                               1
 cellulitis                                          1
 ventricular tachycardia                             1
                                                    ..
 advanced stage ( tnm iib-ivb ) mycosis fungoides    1
 limited stage small cell lung cancer                1
 metastatic colorectal cancer                        1
 primary sclerosing cholangitis ( psc )              1
 melanoma ovarian carcinoma brain metastasis         1
Name: disease, Length: 111, dtype: int64

In [65]:
## identifying rows with acute partial seizures 
final_df[final_df['disease']==' partial seizures']

              disease                 treatment
82   partial seizures       lamotrigine ( ltg )
96   partial seizures   lamotrigine monotherapy

In [66]:
## removing multiple entries for partial seizures 
final_df = final_df.drop(index=[82,96])
partial_seizures_df = {'disease':' partial seizures',
                                  'treatment':[' lamotrigine ( ltg )',' lamotrigine monotherapy']}
final_df = final_df.append(partial_seizures_df,ignore_index=True)
final_df.tail()

,disease,treatment
107,small-cell lung cancer,"[ chemotherapy, combination chemotherapy, paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )]"
108,multiple sclerosis,"[ interferon beta treatment, intravenous immunoglobulin treatment]"
109,bronchiectasis,"[ antibiotics and surgery, current surgical therapy]"
110,breast cancer,"[ hormone replacement therapy, undergone subcutaneous mastectomy]"
111,partial seizures,"[ lamotrigine ( ltg ), lamotrigine monotherapy]"

In [67]:
## checking value counts
final_df['disease'].value_counts()

 colorectal cancer                                   2
 nsclc                                               1
 cellulitis                                          1
 ventricular tachycardia                             1
 tumors                                              1
                                                    ..
 advanced stage ( tnm iib-ivb ) mycosis fungoides    1
 limited stage small cell lung cancer                1
 metastatic colorectal cancer                        1
 primary sclerosing cholangitis ( psc )              1
 melanoma ovarian carcinoma brain metastasis         1
Name: disease, Length: 111, dtype: int64

In [68]:
## identifying rows with colorectal cancer
final_df[final_df['disease']==' colorectal cancer']

               disease                                            treatment
19   colorectal cancer                                     elective surgery
82   colorectal cancer   docosahexanoic acid ( dha ) -concentrated fish oil

In [69]:
## removing multiple entries for colorectal cancer
final_df = final_df.drop(index=[19,82])
colorectal_cancer_df = {'disease':' colorectal cancer',
                        'treatment':[' elective surgery',' docosahexanoic acid ( dha ) -concentrated fish oil']}
final_df = final_df.append(colorectal_cancer_df,ignore_index=True)
final_df.tail()

,disease,treatment
106,multiple sclerosis,"[ interferon beta treatment, intravenous immunoglobulin treatment]"
107,bronchiectasis,"[ antibiotics and surgery, current surgical therapy]"
108,breast cancer,"[ hormone replacement therapy, undergone subcutaneous mastectomy]"
109,partial seizures,"[ lamotrigine ( ltg ), lamotrigine monotherapy]"
110,colorectal cancer,"[ elective surgery, docosahexanoic acid ( dha ) -concentrated fish oil]"

In [70]:
## checking value counts
final_df['disease'].value_counts()

 nsclc                                          1
 cancer                                         1
 malignant melanoma                             1
 esophageal achalasia                           1
 asthma                                         1
                                               ..
 hepatic metastases from colorectal cancer      1
 metastatic colorectal cancer                   1
 primary sclerosing cholangitis ( psc )         1
 biliary dyskinesia                             1
 melanoma ovarian carcinoma brain metastasis    1
Name: disease, Length: 111, dtype: int64

- Now we have mapped different treatments for each unique disease in our dataframe.
- The next setp is to convert this dataframe into a dictionary

#### Converting dataframe to dictionary

In [71]:
final_df.head()

,disease,treatment
0,hereditary retinoblastoma,radiotherapy
1,epilepsy,methylphenidate
2,unstable angina or non-q-wave myocardial infarction,roxithromycin
3,coronary-artery disease,antichlamydial antibiotics
4,primary pulmonary hypertension ( pph ),fenfluramines

In [72]:
## creating dictionary from the dataframe
disease_treatment_dict = final_df.set_index('disease')['treatment'].to_dict()

In [73]:
disease_treatment_dict

{' hereditary retinoblastoma': ' radiotherapy',
 ' epilepsy': ' methylphenidate',
 ' unstable angina or non-q-wave myocardial infarction': ' roxithromycin',
 ' coronary-artery disease': ' antichlamydial antibiotics',
 ' primary pulmonary hypertension ( pph )': ' fenfluramines',
 ' essential hypertension': ' moxonidine',
 ' cellulitis': ' g-csf therapy intravenous antibiotic treatment',
 ' foot infection': ' g-csf treatment',
 ' hemorrhagic stroke': ' double-bolus alteplase',
 " early parkinson 's disease": ' ropinirole monotherapy',
 ' sore throat': ' antibiotics',
 " abdominal tuberculosis crohn 's disease": ' steroids',
 ' female stress urinary incontinence': ' surgical treatment',
 ' preeclampsia ( proteinuric hypertension )': ' intrauterine insemination with donor sperm versus intrauterine insemination',
 ' severe acquired hyperammonemia cancer': ' organ transplantation and chemotherapy',
 ' major pulmonary embolism': ' thrombolytic treatment right-side hemodynamics',
 ' malignant pleural mesothelioma': ' thoracotomy , radiotherapy , and chemotherapy',
 ' pulmonary symptoms attributable': ' chemotherapy',
 ' non-obstructive azoospermia': ' testicular fine needle aspiration ( tefna ) open biopsy and testicular sperm extraction ( tese )',
 ' gastrointestinal tumours': ' elective surgery',
 " parkinson 's disease": ' microelectrode-guided posteroventral pallidotomy',
 ' soft tissue sarcomas': ' radiotherapy',
 " eisenmenger 's syndrome": ' laparoscopic cholecystectomy',
 ' advanced esophageal cancer': ' adjuvant chemoradiotherapy with cddp',
 ' leukemia': ' trisomy',
 ' non-seminomatous germ-cell tumors': ' chemotherapy',
 ' orthotopic tumor': ' adenovirus-mediated interleukin 12 ( il-12 ) gene therapy',
 ' malignant tumors such as non-small cell lung cancer': ' surgery',
 ' inoperable advanced malignancies such as colorectal cancer': ' combination with leucovorin or cisplatin',
 ' inflammatory skin diseases': ' topical corticosteroids',
 ' nsclc nsclc ( stage iiib ) sclc': ' got surgical treatment chemo- and radiotherapy',
 ' nsclc': ' platinum-based chemotherapy',
 ' locally advanced non-small-cell lung cancer ( la-nsclc )': ' chemotherapy and radiotherapy )',
 ' radiation-induced myelopathy': ' heparin and enoxaparin',
 ' limited stage small cell lung cancer': ' vip combination chemotherapy',
 ' malignant pleural effusions from nsclc': ' systemic chemotherapy',
 ' supraclavicular node metastases in nsclc': ' chemoradiotherapy',
 ' non-small-cell-lung-cancer ( nsclc )': ' cisplatin and radiotherapy',
 ' lung carcinoma': ' videothoracoscopic lobectomy or partial resection open thoracotomy',
 ' stage 0 lung carcinoma': ' curative therapy',
 ' melanoma ovarian carcinoma brain metastasis': ' surgical resection',
 ' colorectal metastases': ' therapeutic vats metastasectomy',
 ' advanced nsclc': ' assessing combination chemotherapy of cisplatin , ifosfamide and irinotecan with rhg-csf support',
 ' metastatic colorectal cancer': ' intravenous oxaliplatin',
 ' platinum-pretreated ovarian cancer': ' oxaliplatin',
 " non-hodgkin 's lymphoma , breast cancer mesothelioma and non-small cell lung cancer": ' oxaliplatin',
 ' other cancers platinum-pretreated ovarian cancer': ' oxaliplatin',
 ' non-small cell lung cancer advanced hormone refractory prostate cancer': ' combination with paclitaxel and carboplatin',
 ' primary lung cancer adenocarcinoma squamous cell carcinoma': ' resection',
 ' stage iii nsclc': ' chemotherapy surgery or definitive irradiation',
 ' small cell lung cancer': ' prophylactic cranial irradiation prolongs',
 ' primary cancer': ' adjuvant radiation therapy',
 ' sclc extensive disease': ' platinum dose ( cisplatin plus carboplatin ) in combination chemotherapy combination therapy with carboplatin',
 ' head and neck cancer =2 xerostomia': ' irradiation therapy intravenous amifostine',
 ' psoriasis': ' topical application of active vitamin d3 analogue , 1 alpha',
 ' disseminated malignant melanoma': ' leukocyte a recombinant interferon ( rifn-alpha',
 ' advanced stage ( tnm iib-ivb ) mycosis fungoides': ' a combination chemotherapy program consisting of bleomycin and methotrexate weekly , doxorubicin',
 ' ventricular tachycardia': ' guiding surgical therapy',
 ' cholestasis': ' inchinko-to ( tj-135 )',
 ' severe acute hepatitis accompanying cholestasis autoimmune hepatitis': ' tj-135',
 ' spinal adhesive arachnoiditis': ' surgical management',
 ' biliary dyskinesia': ' cholecystectomy',
 ' the common cold': ' pseudoephedrine plus acetaminophen',
 ' acute nasopharyngitis ( anp )': ' antibiotic treatment',
 ' symptoms of a common cold': ' macrolide antibiotics',
 ' rhinovirus': ' clarithromycin',
 ' infection': ' a combination of omeprazole , amoxicillin , and clarithromycin',
 ' persistent asthma': ' contemporary asthma management guidelines list inhaled corticosteroids',
 ' asthma': ' fluticasone propionate',
 ' chronic hepatitis c': ' combination therapy with interferon-alpha ( ifn alpha ) plus ribavirin',
 ' hepatitis c viremia': ' combination therapy',
 ' severe hypoxemia': ' glucocorticoid pulse therapy',
 ' primary sclerosing cholangitis ( psc )': ' oral budesonide',
 ' acute myocardial infarction': ' thrombolytic therapy',
 ' preexisting s.c. tumors peritoneal tumors': ' subcutaneous injection of irradiated llc-il2',
 ' acute occlusion of the middle cerebral artery': ' thrombolytic therapy',
 ' benign prostatic hyperplasia': ' conservative pharmacological treatment',
 ' inflammatory and autoimmune diseases': ' high-dose intravenous immunoglobulin ( hdivig )',
 ' malignant melanoma': ' interferon alfa-2a',
 ' advanced renal cell carcinoma': ' various interferon alpha preparations interferon alfa-n1 , interferon alfa-2a',
 " low-grade non-hodgkin 's lymphoma": ' interferon alpha',
 ' esophageal achalasia': ' botulinum toxin injection , pneumatic dilation , and laparoscopic myotomy',
 ' irritable bowel syndrome': ' chinese herbal medicine',
 ' proximal hypospadias': ' tubularized incised plate hypospadias',
 ' prostate cancer': ' radical prostatectomy and iodine 125 interstitial radiotherapy',
 ' tumors': ' immunotherapy',
 ' mitomycin-resistant bladder cancer': ' photodynamic therapy in combination with mitomycin c',
 ' b16 melanoma': ' adenosine triphosphate and treatment with buthionine sulfoximine',
 ' primary uveal melanoma': ' transpupillary thermotherapy',
 ' advanced rectal cancer': ' nerve-sparing surgery',
 ' spontaneous pneumothorax': ' thoracoscopic surgery',
 ' acute cerebral ischemia': ' antiplatelet therapy',
 ' renal cell carcinoma': ' interferon treatment',
 ' myocardial angiogenesis': ' gene therapy',
 ' autoimmune hemolytic anemia': ' heparin',
 ' moderately symptomatic benign prostatic hyperplasia': ' surgical resection',
 ' acoustic neuroma': ' stereotactic radiosurgery',
 ' cerebral palsy': ' hyperbaric oxygen therapy',
 ' postvitrectomy diabetic vitreous hemorrhage': ' peripheral retinal cryotherapy',
 ' novel hepatitis b': ' vaccine',
 ' severe secondary peritonitis': ' surgical management',
 ' hepatic metastases from colorectal cancer': ' hepatic arterial infusion of chemotherapy',
 ' chronic renal failure': ' epoetin',
 ' epithelial ovarian cancer': ' high-dose chemotherapy',
 ' cancer': [' immunotherapy',
  ' oral drugs chemotherapy',
  ' matrix metalloproteinase inhibitors'],
 ' small-cell lung cancer': [' chemotherapy',
  ' combination chemotherapy',
  ' paclitaxel plus carboplatin ( pc ) vinorelbine plus cisplatin ( vc )'],
 ' multiple sclerosis': [' interferon beta treatment',
  ' intravenous immunoglobulin treatment'],
 ' bronchiectasis': [' antibiotics and surgery', ' current surgical therapy'],
 ' breast cancer': [' hormone replacement therapy',
  ' undergone subcutaneous mastectomy'],
 ' partial seizures': [' lamotrigine ( ltg )', ' lamotrigine monotherapy'],
 ' colorectal cancer': [' elective surgery',
  ' docosahexanoic acid ( dha ) -concentrated fish oil']}

### Predict the treatment for the disease name: 'hereditary retinoblastoma'

In [74]:
filt_key = [' hereditary retinoblastoma']

In [82]:
res = list(map(disease_treatment_dict.get, filt_key))
print("The treatment for the disease name 'hereditary retinoblastoma' is",res[0])

The treatment for the disease name 'hereditary retinoblastoma' is  radiotherapy